# Node
backend/node_modules/
frontend/node_modules/

# Environment files
backend/.env
frontend/.env
.env

# Build output
frontend/dist/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars

# Kubernetes secrets
kubernetes/secret.yaml

# Ansible secrets
vault.yml

# SSH keys
*.pem
*.key

# Editors / OS
.vscode/
.idea/
.DS_Store
